@import url("reset.css");
@import url("form.css");
@import url("icon.css");
@import url("button.css");
@import url("header.css");
@import url("footer.css");
.clear{clear:both;}
#header{border-bottom:0 !important;}
.fixbackground{background:url(images/loginbox.png) 0 0 repeat-x !important;}
.loginbody   {position:relative;min-width:1000px;width:1000px;margin:0 auto;}
#loginbox    {padding:0 0 44px;}
.loginForm   {margin:0 auto;}
*html .loginForm{height:100%;}
.loginForm .outbox      {background-repeat:repeat-y;background-position:-462px 0;padding:0 0 18px 0;float:left;width:50%;}
.loginForm .innerbox    {background-repeat:repeat-y;background-position:-924px 0;padding:16px 0 0 0;}
.fieldbox               {}
.user-input             {}
.loginForm .textinput   {background-color:transparent;border:0;padding-top:7px;padding-bottom:11px;padding-left:0;width:90%;font-size:16px;}

.textinput:focus        {background-color:transparent !important;}
.loginForm dl           {margin:20px 0 0 40px;overflow:visible;}

.typecode dd            {float:left;padding-right:4px;}
#loginbox .joinlink     {position:absolute;left:610px;top:375px;height:auto;}
#loginbox .joinlink dt  {padding:9px 10px 0 0;}
#loginbox .aboutList    {position:absolute;left:10px;top:360px;margin:0;padding:0;}
#loginbox .aboutList li {background-position:0 bottom;background-image:url(images/loginmethod.gif);background-repeat:no-repeat;background-position:-292px -131px;padding:8px 0 8px 16px;}
.request-msg            {background-position:-256px -360px;position:absolute;width:186px;height:34px;padding:6px 0 0 30px;margin:-20px 0 0 160px;display:none;font-size:12px !important;}

.dl-input               {height:46px;}
.dl-input dt            {width:100px;padding:14px 6px 0 14px;text-align:right;}
.dl-input dd            {background-position:-256px -580px;width:250px;padding:5px 0 0 8px;position:relative;}
.dl-input dt.text-dt{width:auto;padding-left:0;}
.dl-input-focus         {background-position:-256px -646px !important;}
.typecode               {height:46px;padding:28px 0 0;margin-left:40px;}
.typecode .dl-input     {float:left;margin:0 !important;}
.typecode .dl-input dd  {background-position:-256px -775px;}
.code-img               {float:left;}
.change-code            {color:#0087BE;float:left;padding:12px 0 0 25px;}
.change-code:hover      {}
.typecode .dl-input-focus{background-position:-256px -831px !important;}
.typecode .dl-input dd  {width:120px;}
dt.text-dt a{color:#0087BE;}
.login-type             {background-position:-256px -712px;cursor:pointer;width:79px;position:absolute;right:0;top:4px;height:29px;border-left:1px solid #E0E0E0;padding:10px 0 0 22px;}
.ul-login-type          {background-color:#fff;border:1px solid #CBCBCB;display:none;position:absolute;right:-2px;top:39px;width:102px;}
.ul-login-type a        {display:block;height:23px;padding:5px 0 0 22px;text-align:left !important;}
.ul-login-type a:hover  {background-color:#D9FBFF;text-decoration:none;}
.login-botton           {padding-left:124px;}
.userinfo               {display:none;}
.safety-tips     {float:left;border-left:1px solid #CBC9C9;width:48%;padding:4px 0 4px 0;margin-top:20px;}
.head-row-box    {height:90px;}
.logintitle      {background-image:url(images/systitle.png);background-repeat:no-repeat;background-position:0 10px;width:278px;;float:left;height:52px;margin:30px 0 0 62px;display:inline;}
*html .logintitle{background-image:url(images/ie6/systitle.gif);}
.help-div        {float:right;padding:18px 0 0 0;}
.help-div dl     {float:left;}
.help-div dt     {color:#469CCD;font-weight:bold;padding:24px 36px 0 0;}
.safety-tips h3  {color:#124372;font-size:14px;padding:0 0 0 20px;}
.safety-tips h3 .icon{vertical-align:middle;margin-top:-2px;}
.safaty-ul       {padding:14px 0 0 30px;height:100%;overflow:hidden;}
.safaty-ul li    {color:#666;padding:0 0 20px;}
.safaty-ul .dot  {background-color:#CBCACA;float:left;width:4px;height:4px;font-size:0;line-height:0;margin:5px 0 0 0;}
.safaty-ul div   {padding:0 0 0 10px;}
*html .safaty-ul div {margin-top:-20px;}
*+html .safaty-ul div {margin-top:-20px;}
.added-systemp-ul{padding:14px 0 0 40px;height:100%;}
.added-systemp-ul li{padding:0 10px 0 0;position:relative;display:inline;}
.added-systemp-ul li.more-li{padding:8px 30px 0 0;float:right;}
.added-systemp-ul li.more-li a{color:#0087BE;}
.show-itemname{background-color:#fff;border:1px solid #6F859D;padding:5px;font-size:12px;position:absolute;top:-40px;left:-10px;white-space:nowrap;}
.show-itemname .arrow-span{background-position:-640px -64px;position:absolute;bottom:-11px;left:16px;width:16px;height:16px;font-size:0;line-height:0;zoom:1;}
/* Login-Min */

.logo-min       {position:absolute;top:-60px;left:10px;}
.min-body       {background-color:#D1DFE2;}
.loginbody-min  {background-image:url(images/login-min-top.png);background-repeat:no-repeat;background-position:center 0;}
.loginbody-min .outbox        {background-image:url(images/login-min.png);background-repeat:repeat-y;background-position:-600px 0;width:600px;padding:0;left:50%;top:72px;position:absolute;margin-left:-300px;}
.logintips-min                {color:#646464;position:absolute;bottom:-70px;left:20px;font-size:12px;}
.login-tittle-min             {color:#083a50;padding:10px 0 10px 0; text-align:center;font-size:30px;font-family:"KaiTi"}
.filed-min dl                 {height:40px;margin-bottom:4px;margin-top:4px;}
.filed-min dl .textinput      {background-color:#FAFAFA;border:1px solid #BEBEBE;padding:5px 4px;width:236px;margin-left:2px;}
.filed-min dl .textinput:focus{border:1px solid #FFB941;}
.filed-min dt                 {width:140px;padding:6px 0 0;text-align:right;}
.filed-min .login-botton      {border-top:1px dotted #D8D8D8;padding:24px 20px 24px 0;margin:4px 30px 0;}
.filed-min .login-botton dd   {float:right;}
.filed-min .request-msg       {left:22px;top:110px;z-index:5;}
.loginbody-min .up            {background-image:url(images/login-min.png);background-repeat:no-repeat;background-position:0 0;height:18px;}
.loginbody-min .fieldbox      {background-image:url(images/login-min.png);background-repeat:no-repeat;background-position:-1200px bottom;overflow:hidden;height:100%;}
.usertype-filed{text-align:center;padding:15px 0;}
.usertype-filed span{padding:0 10px;}
.usertype-filed label img{position:relative;bottom:-2px;margin:0 4px 0 0;}
.change-id{padding:8px 0 2px;}
.change-id li{padding:5px 0 5px 12px;}
.id-item{background-image:url(images/changeid.png);background-repeat:no-repeat;background-position:0 0;display:block;width:245px;height:24px;padding:6px 44px 0 34px;}
.id-item:hover{color:#fff;text-decoration:none;background-color:transparent;background-position:0 -30px;}
.id-item .n{float:left;width:170px;}