/* 通知待办事项 */
.noticediv              {height: 140px;}
.noticediv .box         {background-color: #f4f4f4;border: 1px solid #517a14;height: 90px;overflow: visible;padding: 5px 0 5px 2px;}
.noticediv .notice-title{font-weight: bold;height: 25px;width: 125px;position:relative;bottom:-1px;}
.notice-title div       {float:left;}
.notice-title .t-l,
.notice-title .t-r      {width:4px;overflow:hidden;height:25px;}
.notice-title .t-l      {background-position: -256px -64px;}
.notice-title .t-r      {background-position: -264px -64px;}
.notice-title .t-c      {background-color:#F6F6F6;border-top:1px solid #517A14;padding:6px 8px 0 4px;height:18px;}
.noticediv .list-ul     {border-right: 1px dotted #b6b6b6;height: 100%;width:32%;padding: 0 8px 0 0;float:left;}
.noticediv .last        {border-right: 0;}
.list-ul li             {border-bottom: 1px solid #ebe9ec;padding:6px 0 5px 0;margin-left:8px;}

/* Newslist Style */
.newslist ul              {height: 100%;overflow: hidden;padding-top: 5px;}
.newslist ul li           {padding: 4px 0;position:relative;zoom:1;}
.newslist ul li a         {color: #333333;}
.newslist ul li a:hover   {color: #730205;}
.newslist ul li .category,
.newslist ul li .category a {color: #00561F;}
.newslist ul li .category {padding-right: 10px;}
.newslist li .date        {position:absolute;right:0;top:4px;}
.list-1 li                {background-image: url(images/repeat.gif);background-repeat:repeat-x;background-position:0 -46px;height:18px;padding-top:6px !important;}
.list-2 li                {float:left;width:49%;height:18px;}

.none                     {display:none;}

.tree-scroll-box           {border:1px solid #d5e4d4;position:relative;top:-1px;padding:6px;}
.tree-scroll-box .treepenal{height:360px;overflow-y:scroll;}

/*  错误提示页面  */
.systemMessage            {background-color:#fff;border:1px solid #D9E7B4;font-size:14px;text-align:center;padding:40px;margin:10px 10px 0}
.errorPage                {}
.systemMessage .icon      {margin-right:20px;}
.systemMessage .acctionBtn{clear:both;padding:30px 0 0;}
